ion-toolbar {
  .notification-icon-button {
    --overflow: visible;
    padding: 0;

    ion-badge {
      position: absolute;
      font-size: 10px;
      background: #f70b0b;
      border-radius: 42%;
      opacity: 0.9;
      top: -0.3rem;
      right: -1rem;
      padding: 2px 5px;
    }
  }
}
