<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="conturi">
      <ion-icon size="large" src="assets/icons/accounts-active.svg"></ion-icon>
      <ion-label>Conturi</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="documents">
      <ion-icon size="large" src="assets/icons/documents-inactive.svg"></ion-icon>
      <ion-label>Documente</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="filiale">
      <ion-icon size="large" src="assets/icons/branches-inactive.svg"></ion-icon>
      <ion-label>Lista Filiale</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="curs">
      <ion-icon size="large" src="assets/icons/exchange-inactive.svg"></ion-icon>
      <ion-label>Curs Valutar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
