<ion-item *ngIf="message" [routerLink]="'./message/' + message.id" [detail]="false">
  <div slot="start" [class]="''"></div>
  <ion-label class="ion-text-wrap">
    <h3>Cont Bancar</h3>
    <p>
      {{ message.account }}
    </p>
  </ion-label>
  <ion-label class="ion-text-wrap">
    <h2>
      <span class="date">
        <ion-note>MDL{{ message.sum }}</ion-note>
      </span>
    </h2>
  </ion-label>
</ion-item>
<ion-item *ngIf="card">
<!--<ion-item *ngIf="card" [routerLink]="'./card/' + card.id" [detail]="false">-->
  <div slot="start" [class]="''"></div>
  <ion-label class="ion-text-wrap">
    <h3>Carduri</h3>
    <p>
      {{ card.name }}
    </p>
  </ion-label>
  <ion-label class="ion-text-wrap">
    <h2>
      <span class="date">
        <ion-note>MDL{{ card.sum }}</ion-note>
      </span>
    </h2>
  </ion-label>
</ion-item>
<ion-item *ngIf="credit">
<!--<ion-item *ngIf="credit" [routerLink]="'./credit/' + credit.id" [detail]="false">-->
  <div slot="start" [class]="''"></div>
  <ion-label class="ion-text-wrap">
    <h3>Cont Credit</h3>
    <p>
      {{ credit.account }}
    </p>
  </ion-label>
  <ion-label class="ion-text-wrap">
    <h2>
      <span class="date">
        <ion-note>MDL{{ credit.sum }}</ion-note>
      </span>
    </h2>
  </ion-label>
</ion-item>
<ion-item *ngIf="transaction">
  <div slot="start" [class]="''"></div>
  <ion-label class="ion-text-wrap">
    <h3>{{ transaction.name }}</h3>
    <p>
      {{ transaction.description }}
    </p>
  </ion-label>
  <ion-label class="ion-text-wrap">
    <h2>
      <span class="date">
        <ion-note > <span [style.color]="transaction.sum<0?'red':'green'">MDL{{ transaction.sum }}</span></ion-note>
      </span>
    </h2>
  </ion-label>
</ion-item>

