/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'SFPro';    //This is what we are going to call
  src: url('./assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf');
}

* {
  font-family: 'SFPro', sans-serif;
}

p {
  font-size: 15px !important;
  margin: 0 !important;
  color: #888888!important;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 17px !important;
  font-weight: bold !important;
  margin: 0 !important;

}

.flex {
  display: flex !important;
}

.flex-center {
  display: flex !important;
  align-items: center;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.flex-between {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.w-100 {
  width: 100% !important;
}

.card {
  background-color: #f2f6fa;
  padding: 16px;
  margin: 16px;
  border-radius: 20px;
}

.card2 {
  background-color: #f7f7f7;
  padding: 16px;
}

.bg-grey {
  background-color: #f7f7f7;
}

.bg-grey2 {
  background-color: #f8fafc;
}

.font-bold {
  font-weight: bold
}

.mt-1 {
  margin-top: 10px !important;
}

.mr-1 {
  margin-right: 10px;
}

.my-1{
  margin: 10px 0;
}

.pa-12 {
  padding: 12px
}

.py-1{
  padding: 10px 0
}

.active {
  background: #f9f9f9;
  color: blue !important;
}

.pr-1 {
  padding-right: 10px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-16 {
  padding-left: 16px;
}

.px-16 {
  padding: 0 16px;
}

.info {
  padding: 10px 0;
  font-size: 17px !important;
  color: #0071e6;
  font-weight: normal !important;
}

.btn{
  background: #fff!important;
  color: #000!important;
}

.btn:focus, .btn:active, .btn:hover{
  background: #f9f9f9;
  color: #000
}
