<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label> <p>Director - (R) M-CRISCO SRL</p>Marti Valencia</ion-label>
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <h2>Conturi</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <h2>Carduri</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <app-message *ngFor="let card of getCards()" [card]="card"></app-message>
  </ion-list>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <h2>Credite</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <app-message *ngFor="let credit of getCredits()" [credit]="credit"></app-message>
  </ion-list>
  <h2>Informatie utila</h2>
  <div>
    <a href="#">Informatii despre banca</a>
  </div>
  <div>
    <a href="#">Servicii clienti</a>
  </div>
  <small>ECB - EuroCreditBank, 2020</small>
</ion-content>
